/*
Lupus in Tabula
...un progetto di Edoardo Morassutto
Contributors:
- 2014 Edoardo Morassutto <edoardo.morassutto@gmail.com>
*/

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.night {
	background-color: #ccc;
}

@import "_login/_login.scss";
@import "_new-room/_new-room.scss";