/*
Lupus in Tabula
...un progetto di Edoardo Morassutto
Contributors:
- 2014 Edoardo Morassutto <edoardo.morassutto@gmail.com>
*/

/* latin */
@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 700;
	src: local('Cinzel-Bold'), url(/fonts/Cinzel.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.night { 
	background-color: #ccc; 
	.chat-form {
		input, button {
			background: #ddd;
		}
	}
	li.active a, li ul {
		background: #ddd;
	}
	li.active li.active a {
		background: #555;
		color: white;
	}
	li ul a:hover {
		background: #eee;
	}
}

.label { display: inline !important; }

.login-form {	
	$padding: 15px;
	$border-radius: 15px;
	$background-color: #f6f6f6;
	$h1-margin: 0px;
	$label-margin-top: 20px;
	$login-margin-top: 15px;

	width: 100%;
	padding: $padding;
	border-radius: $border-radius;
	text-align: center;
	background-color: $background-color;

	h1 {
		margin: $h1-margin;
	}
	label {
		margin-top: $label-margin-top;		
	}
	input {
		text-align: center;
	}
	#do-login {
		margin-top: $login-margin-top;
	}
}
.signup-form {
	table {
		vertical-align: central;
	}
	$padding: 15px;
	$border-radius: 15px;
	$background-color: #f6f6f6;
	$h1-margin: 0px;
	$login-margin-top: 15px;

	width: 100%;
	padding: $padding;
	border-radius: $border-radius;
	text-align: center;
	background-color: $background-color;

	h1 {
		margin: $h1-margin;
	}
	input {
		text-align: center;
	}
	table {
		width: 100%;
		margin-top: $login-margin-top;
		border-spacing: 3px;
		border-collapse: separate;
	}
	#do-login {
		margin-top: $login-margin-top;
	}
}

.new-room {
	input { margin-bottom: 5px; }
	.short-name { width: 200px; }
}

.chat-panel {
	$chat-height: 300px;
	$border-color: #ddd;
	$chat-padding: 7px;
	$chat-from-color: gray;
	$chat-from-right-margin: 5px;
	$chat-time-color: #28a4c9;
	$chat-time-size: 12px;
	$chat-time-width: 105px;
	$chat-form-margin-top: 3px;

	.chat-body {
		width: 100%;
		height: $chat-height;
		border: 1px $border-color solid;
		border-top: 0px;
		overflow-y: auto;
		padding: $chat-padding;
		.chat-message {		
			.chat-from {
				color: $chat-from-color;
				//width: 9em;
				margin-right: $chat-from-right-margin;
				display: inline-block;
			}
			.chat-time {
				color: $chat-time-color;
				font-size: $chat-time-size;
				width: $chat-time-width;
				display: inline-block;
			}
			.chat-mex {
				font-family: sans-serif;
			}
		}
	}
	.chat-form {
		margin-top: $chat-form-margin-top;
	}
}

.show-role {
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #eee;
	border-radius: 7px;
	overflow: hidden;
	cursor: pointer;	
	.active {
		margin-top: -30px;
	}
}

.newspaper {
	.panel {
		$newspaper-padding: 10px;
		$newspaper-min-height: 400px;
		$newspaper-color: lighten(#F8ECC2, 5);

		// disable bootstrap default panel style
		border-radius: 0;
		border: none;

		background-color: $newspaper-color;
		padding: $newspaper-padding;
		min-height: $newspaper-min-height;

		.newspaper-header {
			margin: 0 0 20px 0;
		}

		h1 {
			margin: 0;
			font-family: Cinzel;
			font-size: 40px;
			text-align: center;
			letter-spacing: 5px;
		}

		.newspaper-day {
			text-align: center;
			margin: -15px 0 0 0;
			font-size: 25px;
		}

		.news {
			text-align: justify;
		}
	}
}

table.first-col-small {
	tr td:first-child {
		width: 20px;
	}
}

#notifications {
	#notifications-refresh {
		margin: 5px;
	}

	.dropdown-menu {
		min-width: 360px !important;
		max-height: 360px !important;
		overflow-y: auto;
		padding-bottom: 0px !important;
		h4 { text-align: center; }

		& > p { margin: 5px 20px; }
	}
}

.notification-element {
	color: black !important;
	text-decoration: none !important;
	display: block;
	min-height: 50px;
	padding: 5px;

	border-top: 1px #bbb solid;

	&:last-child:hover { border-radius: 0 0 4px 4px; }
	&:hover { background-color: #eee !important; }

	&.notification-hidden { background-color: #e8e6f4; }

	.btn-dismiss-notification {
		padding: 3px;
		float: right;
	}
}


$background-neofita:		grey;
$background-principiante:	#aaa;
$background-gamer:			#c44;
$background-esperto:		#d60;
$background-maestro:		#7bb;
$background-progamer:		#0195bd;
$background-stratega:		#aaa;
$background-generale:		#1ece77;
$background-guru:			gold;
$background-gamemaster:		gold;

.label-neofita {		background: $background-neofita; }
.label-principiante {	background: $background-principiante; }
.label-gamer {			background: $background-gamer; }
.label-esperto {		background: $background-esperto; }
.label-maestro {		background: $background-maestro; }
.label-progamer {		background: $background-progamer; }
.label-stratega {		background: $background-stratega; color: #e9945e; }
.label-generale {		background: $background-generale; }
.label-guru {			background: $background-guru; color: #333; }
.label-gamemaster { 
	/* se le animazioni non sono supportate */
	background: $background-gamemaster; 
	/* Chrome, Safari, Opera */
	-webkit-animation-name: gamemaster;
	-webkit-animation-duration: 15s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	/* STANDARD */
	animation-name: gamemaster;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

@keyframes gamemaster {
	0%  { background: $background-gamemaster; }
	10% { background: $background-neofita; }
	20% { background: $background-principiante; }
	30% { background: $background-gamer; }
	40% { background: $background-esperto; }
	50% { background: $background-maestro; }
	60% { background: $background-progamer; }
	70% { background: $background-stratega; }
	80% { background: $background-generale; }
	90% { background: $background-guru; }
	100% { background: $background-gamemaster; }
}
@-webkit-keyframes gamemaster {
	0%  { background: $background-gamemaster; }
	10% { background: $background-neofita; }
	20% { background: $background-principiante; }
	30% { background: $background-gamer; }
	40% { background: $background-esperto; }
	50% { background: $background-maestro; }
	60% { background: $background-progamer; }
	70% { background: $background-stratega; }
	80% { background: $background-generale; }
	90% { background: $background-guru; }
	100% { background: $background-gamemaster; }
}
