### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
specifiche/*.aux
specifiche/*.bak
specifiche/*converted-to.pdf
specifiche/*.log
specifiche/*.out
specifiche/*.gz
specifiche/*.toc
log/log.txt
